* {
    box-sizing: border-box;
}

body {
    background-color: #F8FAF8;
    width: 1440px;
    height: 1024px;
}
header{
padding: 0 80px;
}
header.container-clear {
    display: inline;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: normal;
   }
 .log h6{
    display:inline;
    color: #BC436A;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 40px;
}
nav a{
    display: inline;
    margin-right: 40px;
    color: black;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.menu {
    display: inline;
    margin-left: 680px;
}
.circular-photo{
    position: absolute;
    left: 730px;
    top: 100px;
}
.text-block h2{
color: #333;
font-family: Avenir;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
word-spacing: 6px;
width: 800px;
height: 100px;
margin-top: 150px;
padding-left: 120px;
}
span{
    color: #BC436A;
}
.text-block p{
color: #7A7A7A;
font-family: Avenir;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 625px;
height: 75px;
margin: 0;
margin-top: 23px;
padding-left: 120px;
}
h5{
color: #767676;
font-family: Avenir;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 250px;
padding-left: 120px;
}
button{
    background-color: #386E41;
    width: 110px;
    height: 35px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    padding: 0 8px;
}
button a{
    text-decoration: none;
    color:white;
    font-size: 16px;
    margin: 0;
}
.filter-block-form button{
    background-color: #BC436A;
    width: 145px;
    height: 40px;
    border-radius: 4px;
    color: white;
}
.filter-block-form{
    color: #386E41;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 1100px;
    background-color: #386E41;
    border-radius: 8px;
    word-spacing: 150px;
    position: relative;
    margin-left: 120px;

}
select{
    color: white;
    background-color: #386E41;
    border-color: #386E41;
    line-height: 40px;
    text-decoration: underline;
}
div a h4{
    text-align: center;
    color: #767676;
font-family: Avenir;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
justify-content: center;
}
